#footer1{
    background-color: lightblue;
    height: 200px;
    margin-bottom: 0px;
   
}
#tb{
    padding-left: 400px;
    padding-top: 30px;
}
#tb1{
    padding-left: 800px;
    
}
.a{
    margin-right: 150px;
    font-size: 20px;
}
